---
import MySiteLayout from "../../layouts/MySiteLayout.astro";

export function getStaticPaths() {
  return [
    { params: { couple: "lennyjenny" } },
    { params: { couple: "eugenefelina" } },
  ];
}

const { couple } = Astro.params;

let imageList, title;

switch (couple) {
  case "lennyjenny":
    title = "Lenny & Jenny";
    imageList = Object.values(
      import.meta.glob(
        "../../assets/lennyjenny/*.{webp,png,jpg,jpeg,PNG,JPEG}",
        {
          eager: true,
          as: "url",
        },
      ),
    );
    break;

  case "eugenefelina":
    title = "Eugene & Felina";
    imageList = Object.values(
      import.meta.glob(
        "../../assets/eugenefelina/*.{webp,png,jpg,jpeg,PNG,JPEG}",
        {
          eager: true,
          as: "url",
        },
      ),
    );
    break;
}
---

<script>
  let prevScrollpos = window.scrollY;
  const nav = document.querySelector("nav");

  window.onscroll = function () {
    let navHeight = nav.offsetHeight;

    let currentScrollPos = window.scrollY;

    if (currentScrollPos < prevScrollpos) {
      nav.style.top = "0";
    } else {
      nav.style.top = `${-navHeight}px`;
    }

    prevScrollpos = currentScrollPos;
  };
</script>

<MySiteLayout>
  <div class="flex flex-col items-center bg-slate-600">
    <h1 class="my-8 text-center text-3xl font-semibold text-slate-100">
      {title}
    </h1>
    <div class="flex flex-col gap-6 p-8">
      {
        imageList.map((imageUrl) => (
          <img
            src={imageUrl}
            class="max-w-s"
            alt="Engagement photo"
            loading="lazy"
          />
        ))
      }
    </div>
  </div>
</MySiteLayout>
