---
import MySiteLayout from "../../layouts/MySiteLayout.astro";
import PhotoList from "@components/PhotoList.astro";

export function getStaticPaths() {
  return [
    { params: { couple: "lennyjenny" } },
    { params: { couple: "eugenefelina" } },
  ];
}

const { couple } = Astro.params;

let imageList, title;

switch (couple) {
  case "lennyjenny":
    title = "Lenny & Jenny";
    imageList = Object.values(
      import.meta.glob(
        "../../assets/lennyjenny/*.{webp,png,jpg,jpeg,PNG,JPEG}",
        {
          eager: true,
          as: "url",
        },
      ),
    );
    break;

  case "eugenefelina":
    title = "Eugene & Felina";
    imageList = Object.values(
      import.meta.glob(
        "../../assets/eugenefelina/*.{webp,png,jpg,jpeg,PNG,JPEG}",
        {
          eager: true,
          as: "url",
        },
      ),
    );
    break;
}
---

<script>
  let prevScrollpos = window.scrollY;
  const nav = document.querySelector("nav");

  window.onscroll = function () {
    let navHeight = nav.offsetHeight;

    let currentScrollPos = window.scrollY;

    if (currentScrollPos < prevScrollpos) {
      nav.style.top = "0";
    } else {
      nav.style.top = `${-navHeight}px`;
    }

    prevScrollpos = currentScrollPos;
  };
</script>

<MySiteLayout>
  <div class="flex flex-col items-center bg-[rgb(88_88_88)]">
    <h1 class="my-8 text-center text-3xl text-gray-100">
      {title}
    </h1>
    <PhotoList imageList={imageList} alt="Engagement photo" />
  </div>
</MySiteLayout>
