---
import { Image } from "astro:assets";
import MySiteLayout from "../../layouts/MySiteLayout.astro";
import lennyJenny from "@assets/lennyjenny/Copy of 1.webp";
import eugeneFelina from "@assets/eugenefelina/Copy of 109.webp";
---

<MySiteLayout>
  <div
    class="flex min-h-[90vh] flex-col items-center bg-gradient-to-b from-slate-100 to-slate-300 px-8 pb-8"
  >
    <h2 class="mb-4 text-center text-3xl font-semibold md:my-8">
      Engagement Photography
    </h2>
    <div class="flex flex-col gap-4 md:flex-row md:gap-8 lg:gap-16">
      <a
        href="photos/lennyjenny"
        class="block max-w-md rounded-lg border text-center shadow-md"
      >
        <Image src={lennyJenny} alt="Engagement photo" class="object-cover" />
        <p class="p-4 text-lg">Lenny & Jenny</p>
      </a>

      <a
        href="photos/eugenefelina"
        class="max-w-md rounded-lg border text-center shadow-md"
      >
        <Image src={eugeneFelina} alt="Engagement photo" class="object-cover" />
        <p class="p-4 text-lg">Eugene & Felina</p>
      </a>
    </div>
  </div>
</MySiteLayout>
