---
import MySiteLayout from "../../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div class="flex flex-col items-center min-h-[90vh]">
    <h2 class="text-3xl text-center my-8">Engagement Photography</h2>
    <div class="flex flex-col gap-4 md:flex-row md:gap-8 lg:gap-16">
      <a
        href="photos/lennyjenny"
        class="block border rounded-lg max-w-md text-center shadow-md"
      >
        <img
          src="../../engagement_webp/lenny_jenny/Copy of 1.webp"
          alt="Engagement photo"
          class="object-none object-[70%]"
          width="447"
          height="345"
        />
        <p class="p-4 text-lg">Lenny & Jenny</p>
      </a>

      <a
        href="photos/eugenefelina"
        class="border rounded-lg max-w-md text-center shadow-md"
      >
        <img
          src="../../engagement_webp/eugene_felina/Copy of 32.webp"
          alt="Engagement photo"
          class="object-none object-[40%]"
          width="447"
          height="345"
        />
        <p class="p-4 text-lg">Eugene & Felina</p>
      </a>
    </div>
  </div>
</MySiteLayout>
