---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div class="min-h-[90vh]">
    <h1 class="m-10 text-center font-sans text-5xl">404 Not Found</h1>
  </div>
</MySiteLayout>
