---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import VideoList from "../components/VideoList.astro";

const commercialFilenames = [
  ["Belly Trance", "Belly_Trance/output.m3u8", "Belly_Trance.webp"],
];
---

<script>
  let prevScrollpos = window.scrollY;
  const nav = document.querySelector("nav")!;

  window.onscroll = function () {
    let navHeight = nav.offsetHeight;

    let currentScrollPos = window.scrollY;

    if (currentScrollPos < prevScrollpos) {
      nav.style.top = "0";
    } else {
      nav.style.top = `${-navHeight}px`;
    }

    prevScrollpos = currentScrollPos;
  };
</script>

<MySiteLayout>
  <div
    class="flex min-h-[90vh] flex-col gap-4 bg-gradient-to-b from-slate-100 to-slate-300 pb-6"
  >
    <VideoList listTitle="Commerical Video" filenames={commercialFilenames} />
  </div>
</MySiteLayout>
