---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div class="flex justify-evenly">
    <div class="flex flex-col justify-center items-center text-gray-900">
      <h1 class="p-3 text-xl ">Contact Me</h1>
      <a href="mailto:smakov.ildar@gmail.com" class="underline">Email</a>
    </div>

    <div class="">
      <img src="/self.webp" alt="Portrait of Ildar Smakov" class="w-32 shadow-2xl md:w-64 lg:w-80 m-5" />
    </div>
  </div>
</MySiteLayout>