---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div class="flex justify-evenly p-10">
    <div class="flex flex-col bg-gray-400 justify-center items-center">
      <h1 class="p-3 text-xl">Contact Me</h1>
      <a href="mailto:smakov.ildar@gmail.com">Email</a>
    </div>

    <div class="">
      <img
        src="/self.jpg"
        alt="Portrait of Ildar Smakov"
        class="w-32 md:w-64 lg:w-96"
      />
    </div>
  </div>
</MySiteLayout>
