---
import { Image } from "astro:assets";
import MySiteLayout from "../layouts/MySiteLayout.astro";
import selfPortrait from "@assets/selfportrait.webp";
---

<MySiteLayout>
  <div
    class="flex flex-col items-center md:min-h-[90vh] md:flex-row md:justify-center md:gap-20"
  >
    <div
      class="m-4 flex max-w-sm flex-col items-center rounded-lg bg-slate-300 p-6 shadow-md"
    >
      <p class="max-w-lg text-center text-lg font-bold">
        Ildar Smakov is a photographer, videographer, and editor with over 20
        years of experience serving the greater New York City area.
      </p>
      <p class="text-xl text-slate-800">Contact:</p>
      <p class="text-2xl underline">smakov.ildar@gmail.com</p>
    </div>

    <Image
      src={selfPortrait}
      alt="Portrait of Ildar Smakov"
      class="m-4 max-w-xs rounded-md shadow-lg"
    />
  </div>
</MySiteLayout>
