---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import selfPortrait from "../assets/self.jpg";
---

<MySiteLayout>
  <div class="flex justify-evenly p-10">
    <div class="flex flex-col bg-gray-400 justify-center items-center">
      <h1 class="p-3 text-xl">Contact Me</h1>
      <a href="mailto:smakov.ildar@gmail.com">Email</a>
    </div>

    <div class="">
      <img src={selfPortrait} alt="Portrait of Ildar Smakov" class="max-w-sm" />
    </div>
  </div>
</MySiteLayout>
