---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div
    class="flex flex-col items-center md:flex-row md:justify-center md:min-h-[90vh] md:gap-20"
  >
    <div
      class="flex flex-col items-center shadow-md rounded-lg p-6 m-4 max-w-sm"
    >
      <p class="text-lg max-w-lg text-center font-bold">
        Ildar Smakov is a photographer, videographer, and editor with over 20
        years of experience serving the greater New York City area.
      </p>
      <p class="text-xl">Contact:</p>
      <a href="mailto:smakov.ildar@gmail.com" class="underline italic texl-2xl"
        >Email
      </a>
    </div>

    <img
      src="/self.webp"
      alt="Portrait of Ildar Smakov"
      class="max-w-xs shadow-lg m-4 rounded-md"
    />
  </div>
</MySiteLayout>
