---
import ResponsiveVideo from "../components/ResponsiveVideo.astro";
import MySiteLayout from "../layouts/MySiteLayout.astro";
const weddingVideoURLs = [
  "https://www.youtube.com/embed/1imoMhbDz2E",
  "https://www.youtube.com/embed/9Z6rKjXMOfY",
  "https://www.youtube.com/embed/jf--4pyrBZI",
  "https://www.youtube.com/embed/KisGxeFxgJ0",
];
---

<MySiteLayout>
  <div class="flex flex-col gap-8">
    <!-- <div class="grid grid-cols-3 grid-rows-3">
      <h2
        class="text-xl z-20 md:text-4xl col-start-1 col-end-2 row-start-1 row-end-2 text-center"
      >
        Wedding Video
      </h2>
      <img
        src="../../engagement_webp/eugene_felina/Copy of 34.webp"
        alt="Woman on a beach"
        class="col-start-1 col-end-4 row-start-1 row-end-4"
        id="hero"
      />
    </div> -->

    <h2 class="text-xl md:text-3xl text-center mt-4 md:mt-6">Wedding Video</h2>

    {weddingVideoURLs.map((video) => {
      return <ResponsiveVideo src={video} />;
    })}

    <h2 class="text-xl md:text-3xl text-center">Commercial Video</h2>
    <ResponsiveVideo src="https://www.youtube.com/embed/xXMw1t2zpF0" />
  </div>
</MySiteLayout>
