---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <!-- <div class="relative pb-96 h-0 overflow-hidden max-w-full">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src="https://player.vimeo.com/video/575988664"
      frameborder="0"
      webkitAllowFullScreen
      mozallowfullscreen
      allowFullScreen></iframe>
  </div> -->
  <div class="relative" style="padding-top: 56.25%">
    <iframe
      class="absolute inset-0 w-full h-full"
      src="https://player.vimeo.com/video/575988664"
      frameborder="0"></iframe>
  </div>
</MySiteLayout>
