---
import Video from "../components/Video.astro";
import MySiteLayout from "../layouts/MySiteLayout.astro";

const weddingFilenames = [
  [
    "Alexander and Lauren",
    "Alexander_Lauren/output.m3u8",
    "AlexanderLauren.jpg",
  ],
  ["Ryan and Samantha", "Ryan_Samantha/output.m3u8", "RyanSamantha.jpg"],
  [
    "Thomas and Mary-Catherine",
    "Thomas_Mary-Catherine/output.m3u8",
    "ThomasMary-Catherine.jpg",
  ],
  ["Mikhail and Sophie", "Mike_Sophie/output.m3u8", "MikhailSophie.png"],
  ["Johan and Lana", "Johan_Lana/output_playlist_2.m3u8", "JohanLana.png"],
  [
    "David and Cassandra",
    "David_Cassandra/output_playlist_3.m3u8",
    "DavidCassandra.jpg",
  ],
  // ["Allen and Nadia", "Allen_Nadia/output_playlist_4.m3u8", "AllenNadia.png"],
];

const commercialFilenames = [["Londontown", "output_playlist_5.m3u8"]];
---

<MySiteLayout>
  <h2 class="mt-4 text-center text-xl font-medium md:mt-6 md:text-3xl">
    Wedding Video
  </h2>
  <div
    class="flex flex-col gap-4 bg-gradient-to-b from-slate-100 to-slate-300 pb-8"
  >
    {
      weddingFilenames.map(([title, filename, poster], idx) => (
        <div class="mx-8 flex flex-col md:mx-44">
          <div class="mx-auto my-2 text-xl md:text-2xl">{title}</div>
          <Video filename={filename} id={idx} poster={poster} />
        </div>
      ))
    }
    <!-- <div class="h-screen bg-slate-100">
      <h2 class="text-xl md:text-3xl font-medium text-center mt-4 md:mt-6">
        Commercial Video
      </h2>
    </div> -->
  </div>
</MySiteLayout>
