---
import VideoList from "../components/VideoList.astro";
import MySiteLayout from "../layouts/MySiteLayout.astro";
const weddingVideoIDs = [
  "1tgv827JHpI",
  "1imoMhbDz2E",
  "9Z6rKjXMOfY",
  "jf--4pyrBZI",
  "KisGxeFxgJ0",
];

const commercialVideoIDs = ["xXMw1t2zpF0"];
---

<MySiteLayout>
  <div class="flex flex-col gap-8 items-center">
    <!-- <div class="grid grid-cols-3 grid-rows-3">
      <h2
        class="text-xl z-20 md:text-4xl col-start-1 col-end-2 row-start-1 row-end-2 text-center"
      >
        Wedding Video
      </h2>
      <img
        src="../../engagement_webp/eugene_felina/Copy of 34.webp"
        alt="Woman on a beach"
        class="col-start-1 col-end-4 row-start-1 row-end-4"
        id="hero"
      />
    </div> -->

    <h2 class="text-xl md:text-3xl text-center mt-4 md:mt-6">Wedding Video</h2>

    <VideoList videoIDs={weddingVideoIDs} />

    <h2 class="text-xl md:text-3xl text-center">Commercial Video</h2>

    <VideoList videoIDs={commercialVideoIDs} />

    <div class="h-2"></div>
  </div>
</MySiteLayout>
