---
import Video from "../components/Video.astro";
import VideoList from "../components/VideoList.astro";
import MySiteLayout from "../layouts/MySiteLayout.astro";

const weddingFilenames = [
  [
    "Alexander and Lauren",
    "Alexander_Lauren/output.m3u8",
    "AlexanderLauren.jpg",
  ],
  ["Ryan and Samantha", "Ryan_Samantha/output.m3u8", "RyanSamantha.jpg"],
  [
    "Thomas and Mary-Catherine",
    "Thomas_Mary-Catherine/output.m3u8",
    "ThomasMary-Catherine.jpg",
  ],
  ["Mikhail and Sophie", "Mike_Sophie/output.m3u8", "MikeSophie.jpg"],
  ["Johan and Lana", "Johan_Lana/output_playlist_2.m3u8", "JohanLana.png"],
  [
    "David and Cassandra",
    "David_Cassandra/output_playlist_3.m3u8",
    "DavidCassandra.jpg",
  ],
  // ["Allen and Nadia", "Allen_Nadia/output_playlist_4.m3u8", "AllenNadia.png"],
];

const commercialFilenames = [
  ["Belly Trance", "Belly_Trance/output.m3u8", "Belly_Trance.webp"],
];
---

<MySiteLayout>
  <div
    class="flex flex-col gap-4 bg-gradient-to-b from-slate-100 to-slate-300 pb-6"
  >
    <VideoList listTitle="Wedding Videos" filenames={weddingFilenames} />
    <VideoList listTitle="Commercial Videos" filenames={commercialFilenames} />
  </div>
</MySiteLayout>
