---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import VideoList from "@components/VideoList.astro";

const mitzvahFilenames = [["Alissa", "Alissa/output.m3u8", "Alissa.webp"]];
---

<MySiteLayout>
  <div
    class="flex min-h-[90vh] flex-col gap-4 bg-gradient-to-b from-slate-100 to-slate-300 pb-6"
  >
    <VideoList
      listTitle="Bat and Bar Mitzvah Video"
      filenames={mitzvahFilenames}
    />
  </div>
</MySiteLayout>

<script>
  let prevScrollpos = window.scrollY;
  const nav = document.querySelector("nav")!;

  window.onscroll = function () {
    let navHeight = nav.offsetHeight;

    let currentScrollPos = window.scrollY;

    if (currentScrollPos < prevScrollpos) {
      nav.style.top = "0";
    } else {
      nav.style.top = `${-navHeight}px`;
    }

    prevScrollpos = currentScrollPos;
  };
</script>
