---
import MySiteLayout from "../layouts/MySiteLayout.astro";
import PhotoListFromProps from "../components/PhotoListFromProps"

const imageStyle = "my-2 max-w-s md:max-w-w lg:max-w-5xl"
const lenny_jenny_images = import.meta.glob('../../public/engagement_webp/lenny_jenny/*.webp')
const eugene_felina_images = import.meta.glob('../../public/engagement_webp/eugene_felina/*.webp')
---

<MySiteLayout>
  <div class="flex flex-col">
    <h1 class="my-5 text-center text-2xl">Engagement Photography</h1>
    <div class="flex flex-col items-center">
      <PhotoListFromProps imageList={lenny_jenny_images} imageStyle={imageStyle} />
    </div>
  </div>
</MySiteLayout>