---
import NavItem from "./NavItem.astro";
---

<nav
  class="sticky z-10 flex animate-fade-in-down items-center justify-between bg-slate-100 p-2 pl-10 [transition:top_0.2s] md:flex-row md:justify-center"
>
  <a href="/" class="flex flex-col items-start text-2xl lg:text-3xl">
    Ildar Smakov
  </a>

  <div class="md:px-2 lg:px-6"></div>

  <ul class="hidden items-center justify-center gap-4 md:flex lg:gap-4">
    <li
      id="dropdown"
      class="relative rounded-md p-1 hover:shadow-md md:p-2 md:text-lg lg:text-xl"
    >
      Videography
      <div
        class="absolute left-0 top-full hidden min-w-max rounded-md border border-gray-200 bg-slate-100 py-1 shadow-md"
        id="dropdown-menu"
      >
        <a
          class="dropdown-item block rounded px-4 hover:bg-gray-200"
          href="/commercial">Commercial Video</a
        >
      </div>
    </li>

    <NavItem href="/photos" name="Photography" />
    <NavItem href="/contact" name="Contact" />
  </ul>

  <ul
    id="mobile-menu"
    class="absolute right-0 top-0 hidden h-screen flex-col gap-8 bg-white pt-24"
  >
    <NavItem href="/commercial" name="Commercial Video" />
    <NavItem href="/photos" name="Photography" />
    <NavItem href="/contact" name="Contact" />
  </ul>

  <button id="menu-icon" class="z-10 p-4 md:hidden">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </button>
</nav>

<script>
  const menuIcon = document.querySelector("#menu-icon")!;
  const menu = document.querySelector("#mobile-menu")!;
  let iconIsCrossed = menuIcon.classList.contains("active");
  let menuIsOpen = menu.classList.contains("flex");

  menuIcon.addEventListener("click", () => {
    if (!menuIsOpen) {
      menu.classList.remove("hidden");
      menu.classList.add("flex");
      menuIsOpen = true;
    } else {
      menu.classList.remove("flex");
      menu.classList.add("hidden");
      menuIsOpen = false;
    }

    if (!iconIsCrossed) {
      menuIcon.classList.add("active");
      iconIsCrossed = true;
    } else {
      menuIcon.classList.remove("active");
      iconIsCrossed = false;
    }
  });
</script>

<style>
  #dropdown:hover #dropdown-menu {
    display: block;
  }
  .bar {
    width: 30px;
    height: 4px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
  }
  .bar:nth-child(1) {
    transform-origin: left center;
  }

  .bar:nth-child(3) {
    transform-origin: left center;
  }
  #menu-icon.active .bar:nth-child(1) {
    transform: translate(5px, -1px) rotate(45deg);
  }

  #menu-icon.active .bar:nth-child(2) {
    background-color: white;
  }

  #menu-icon.active .bar:nth-child(3) {
    transform: translate(4px, 0px) rotate(-45deg);
  }
</style>
