---
import NavItem from "./NavItem.astro";
---

<nav
  class="sticky z-10 flex animate-fade-in-down flex-col items-center bg-white p-2 shadow-md [transition:top_0.2s] md:flex-row md:justify-center"
>
  <a href="/" class="flex flex-col text-center">
    <p class="text-xl lg:text-2xl">Ildar Smakov</p>
    <p class="text-sm lg:text-lg">Professional Video and Photography</p>
  </a>

  <div class="md:px-2 lg:px-8"></div>

  <ul class="flex gap-1 md:gap-2 lg:gap-4">
    <NavItem href="/photos" name="Photography" />
    <NavItem href="/commercial" name="Commercial" />
    <NavItem href="/contact" name="Contact" />

    <NavItem
      href="https://www.youtube.com/user/CinemaArtGroup/videos"
      name="Youtube"
    >
      <svg
        class="mx-1 hidden w-6 md:block"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
      >
        <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
        ></path>
      </svg>
    </NavItem>

    <NavItem name="Vimeo" href="https://vimeo.com/ildarsmakov/videos">
      <svg
        class="mx-1 hidden w-5 md:block"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
          d="M403.2 32H44.8C20.1 32 0 52.1 0 76.8v358.4C0 459.9 20.1 480 44.8 480h358.4c24.7 0 44.8-20.1 44.8-44.8V76.8c0-24.7-20.1-44.8-44.8-44.8zM377 180.8c-1.4 31.5-23.4 74.7-66 129.4-44 57.2-81.3 85.8-111.7 85.8-18.9 0-34.8-17.4-47.9-52.3-25.5-93.3-36.4-148-57.4-148-2.4 0-10.9 5.1-25.4 15.2l-15.2-19.6c37.3-32.8 72.9-69.2 95.2-71.2 25.2-2.4 40.7 14.8 46.5 51.7 20.7 131.2 29.9 151 67.6 91.6 13.5-21.4 20.8-37.7 21.8-48.9 3.5-33.2-25.9-30.9-45.8-22.4 15.9-52.1 46.3-77.4 91.2-76 33.3.9 49 22.5 47.1 64.7z"
        ></path>
      </svg>
    </NavItem>
  </ul>
</nav>
