---
const { href, name } = Astro.props;
---

<li
  class="rounded-md p-1 text-lg hover:animate-text-pop hover:shadow-md md:p-2 md:text-xl"
>
  <a href={href} class="flex">
    <slot />{name}
  </a>
</li>
