---
const { filename, poster } = Astro.props;
---

<video
  class="video-js vjs-big-play-centered shadow-xl"
  controls
  preload="none"
  data-setup=`{"poster":"https://aa128120fb23d49cd4f08b2d7c85ed42.r2.cloudflarestorage.com/ildar-video/Posters/${poster}", "aspectRatio":"16:9"}`
>
  <source
    src=`https://aa128120fb23d49cd4f08b2d7c85ed42.r2.cloudflarestorage.com/ildar-video/HLS/${filename}`
    type="application/x-mpegURL"
  />
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web
    browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video
    </a>
  </p>
</video>
