---
const { videoIDs } = Astro.props;
---

{videoIDs.map((id) => {
  return (
    <div class="relative mx-3 md:mx-12 lg:mx-28 pt-[56%]">
      <iframe
        class="absolute inset-0 w-full h-full"
        src={`https://www.youtube.com/embed/${id}`}
      />
    </div>
  );
})}
