---
const { filename, id, poster } = Astro.props;
---

<video
  id=`my-video-${id}`
  class="video-js vjs-big-play-centered"
  controls
  preload="auto"
  width="1920"
  height="1080"
  data-setup=`{"poster":"https://d1q5g8n2xcxwh0.cloudfront.net/Posters/${poster}", "aspectRatio":"16:9"}`
>
  <source
    src=`https://d1q5g8n2xcxwh0.cloudfront.net/HLS/${filename}`
    type="application/x-mpegURL"
  />
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web
    browser that
    <a href="https://videojs.com/html5-video-support/" target="_blank"
      >supports HTML5 video
    </a>
  </p>
</video>
