<html>
  <head>
    <meta charset="utf-8" />
    <title>Ildar Smakov</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/dist/output.css" rel="stylesheet" />
  </head>
  <body>
    <nav>
      <a href="/">Ildar Smakov</a>
      <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://vimeo.com/ildarsmakov">Vimeo</a></li>
      </ul>
    </nav>
    <article>
      <slot></slot>
      <!-- your content is injected here -->
    </article>
    <footer>Test footer</footer>
  </body>
</html>
