---
var currentTime = new Date();
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Ildar Smakov Wedding Video</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/dist/output.css" rel="stylesheet" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/src/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/src/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/src/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="../assets/site.webmanifest" />
  </head>
  <body class="font-serif bg-gray-400">
    <nav class="flex justify-around p-2 bg-gray-300">
      <a class="p-1 text-xl md:pl-12 text-slate-800" href="/">Ildar Smakov</a>
      <ul class="flex">
        <li class="hover:shadow-lg p-2"><a href="/contact">Contact</a></li>
        <li class="hover:shadow-lg p-2">
          <a href="https://www.youtube.com/user/CinemaArtGroup/videos"
            >Youtube
          </a>
        </li>
        <li class="hover:shadow-lg p-2">
          <a href="https://vimeo.com/ildarsmakov">Vimeo</a>
        </li>
      </ul>
    </nav>
    <main class="bg-gray-400">
      <slot></slot>
      <!-- your content is injected here -->
    </main>
    <footer
      class="flex justify-center items-center fixed h-7 w-full bottom-0 text-sm bg-gray-800 text-zinc-300"
    >
      Copyright {currentTime.getFullYear()} Ildar Smakov
    </footer>
  </body>
</html>
